/*         ______   ___    ___ 
 *        /\  _  \ /\_ \  /\_ \ 
 *        \ \ \L\ \\//\ \ \//\ \      __     __   _ __   ___ 
 *         \ \  __ \ \ \ \  \ \ \   /'__`\ /'_ `\/\`'__\/ __`\
 *          \ \ \/\ \ \_\ \_ \_\ \_/\  __//\ \L\ \ \ \//\ \L\ \
 *           \ \_\ \_\/\____\/\____\ \____\ \____ \ \_\\ \____/
 *            \/_/\/_/\/____/\/____/\/____/\/___L\ \/_/ \/___/
 *                                           /\____/
 *                                           \_/__/
 *
 *      Windows resource script
 *
 *      By Owen Rudge.
 *
 *      See readme.txt for copyright information.
 */

#define ALLEGRO_VERSION_INFO_ONLY

#include "allegro.h"

1 VERSIONINFO 
FILEVERSION ALLEGRO_VERSION, ALLEGRO_SUB_VERSION, ALLEGRO_WIP_VERSION, 0
PRODUCTVERSION ALLEGRO_VERSION, ALLEGRO_SUB_VERSION, ALLEGRO_WIP_VERSION, 0
FILEOS 0x00000004L /* VOS__WINDOWS32 */
FILETYPE 0x00000002L /* VFT_DLL */
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "Comments", "Please see AUTHORS for a list of contributors\000"
   VALUE "CompanyName", "Allegro Programmers\000\000"
   VALUE "FileDescription", "Allegro\000"
   VALUE "FileVersion", ALLEGRO_VERSION_STR "\000"
   VALUE "InternalName", "ALL3938\000"
   VALUE "LegalCopyright", "Copyright © 1996-2001 Allegro Programmers\000\000"
   VALUE "OriginalFilename", "ALL3938.DLL\000"
   VALUE "ProductName", "Allegro\000"
   VALUE "ProductVersion", ALLEGRO_VERSION_STR "\000"
  }

 }

 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 0x0809, 1252
 }

}
