
# ignore the build/ directory
build/
build_android_arm/
build_android_arm64-v8a/
build_android_armeabi-v7a/
build_android_mips64/
build_android_mips/
build_android_x86/
build_android_x86_64/

# build dependencies optionally go in deps/, ignore them
deps/
