// Windows resource file for the dibsound example

#include <windows.h>
#include "dibsound.rh" 

MYACCEL ACCELERATORS
BEGIN
   VK_F1, CMD_FILE_OPEN, VIRTKEY
   VK_F2, CMD_FILE_PLAY, VIRTKEY
   VK_F3, CMD_FILE_STOP, VIRTKEY
   VK_ADD, CMD_SET_VOLUME_UP, CONTROL, VIRTKEY
   VK_SUBTRACT, CMD_SET_VOLUME_DOWN, CONTROL, VIRTKEY
   "L", CMD_SET_PAN_LEFT, CONTROL, VIRTKEY
   "R", CMD_SET_PAN_RIGHT, CONTROL, VIRTKEY
   "F", CMD_SET_SPEED_UP, CONTROL, VIRTKEY
   "S", CMD_SET_SPEED_DOWN, CONTROL, VIRTKEY
   "O", CMD_SET_LOOP_MODE, CONTROL, VIRTKEY
END

MYMENU MENU
BEGIN
   POPUP "&File"
   BEGIN
      MENUITEM "&Open...\tF1", CMD_FILE_OPEN
      MENUITEM "&Play\tF2", CMD_FILE_PLAY
      MENUITEM "&Stop\tF3", CMD_FILE_STOP
      MENUITEM SEPARATOR
      MENUITEM "E&xit", CMD_FILE_EXIT
   END

   POPUP "&Settings"
   BEGIN
      MENUITEM "Volume up\tCtrl +", CMD_SET_VOLUME_UP
      MENUITEM "Volume down\tCtrl -", CMD_SET_VOLUME_DOWN
      MENUITEM "Default Volume", CMD_SET_VOLUME_DEFAULT
      MENUITEM SEPARATOR
      MENUITEM "Pan left\tCtrl L", CMD_SET_PAN_LEFT
      MENUITEM "Pan right\tCtrl R", CMD_SET_PAN_RIGHT
      MENUITEM "Center Pan", CMD_SET_PAN_CENTER
      MENUITEM SEPARATOR
      MENUITEM "Speed up\tCtrl F", CMD_SET_SPEED_UP
      MENUITEM "Speed down\tCtrl S", CMD_SET_SPEED_DOWN
      MENUITEM "Normal Speed", CMD_SET_SPEED_NORMAL
      MENUITEM SEPARATOR
      MENUITEM "Loop mode\tCtrl O", CMD_SET_LOOP_MODE
   END

   POPUP "&Help", HELP
   BEGIN
      MENUITEM "&About", CMD_HELP_ABOUT
   END
END

ABOUTDLG DIALOG 25, 0, 150, 100
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "About"
FONT 8, "MS Shell Dlg"
BEGIN
   CONTROL "&OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 50, 80, 50, 15
   CONTROL "", -1, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 5, 140, 65
   CONTROL "An example program showing how to use Allegro as a sound library under Windows.", -1, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 25, 25, 100, 30
END
